
/*PRELOADER*/

#preloader {
    width: 100%;
    height: 100%;

    position: fixed;
    z-index: 100;

    background: #fcfcfc;                
} 
.cssload-triangles {
	height: 79px;
	width: 88px;
	position: absolute;
	top:50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.cssload-tri {
	position: absolute;
	border-top: 26px solid rgb(33,90,109);
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-bottom: 0px;
	animation: cssload-pulse 862.5ms ease-in infinite;
}
.cssload-tri.cssload-invert {
	border-top: 0px;
	border-bottom: 26px solid rgb(33,90,109);
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
}
.cssload-tri:nth-child(1) {
	left: 29px;
}
.cssload-tri:nth-child(2) {
	left: 15px;
	top: 26px;
	animation-delay: -143.75ms;
}
.cssload-tri:nth-child(3) {
	left: 29px;
	top: 26px;
}
.cssload-tri:nth-child(4) {
	left: 44px;
	top: 26px;
	animation-delay: -718.75ms;
}
.cssload-tri:nth-child(5) {
	top: 53px;
	animation-delay: -287.5ms;
}
.cssload-tri:nth-child(6) {
	top: 53px;
	left: 15px;
	animation-delay: -287.5ms;
}
.cssload-tri:nth-child(7) {
	top: 53px;
	left: 29px;
	animation-delay: -431.25ms;
}
.cssload-tri:nth-child(8) {
	top: 53px;
	left: 44px;
	animation-delay: -575ms;
}
.cssload-tri:nth-child(9) {
	top: 53px;
	left: 58px;
	animation-delay: -575ms;
}


@keyframes cssload-pulse {
	0% {
		opacity: 1;
	}
	16.666% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

/*Preloader*/








.illuminator{
	width: 97.5%;
	height: 100%;

	position: absolute;
	z-index: -2;
	
	display: block;
	opacity: .3;
	background: url(../../../imgs/g2.png)  rgba(0,40,50,1);
	background-size: 100%;
	border-radius: 15px;
	box-shadow: inset 1px 1px  rgba(255,255,255,1),  1.3px 1.3px 1px rgba(0,0,0,.9);
	margin-left: 17px;
}
.hid{
	width: 160px;
	height: 160px;

	position: absolute;	
	z-index: -1;
	top: 10.8%;
	left: 33%;

	display: table;
	visibility: hidden;
	border-radius: 200px;
}
a:hover+.hid{
	color: #fff;
	text-shadow: 1px 1px 3px #000;

	visibility: visible;
	box-shadow: 5px 5px 15px 2px rgba(0,0,0,.4), inset -5px -5px 20px rgba(0,0,0,.6);

	animation: explosion 1.7s step-end, 3.4s Element 1;	
}
.series{
	padding: 5px 0;
}


#illuminator{
	opacity: .7;
	background: url(../../../imgs/g1.png) no-repeat 30% 100%  rgba(60,70,80,.8);
	background-size: 120%;
}
#stars{
	width: 100%;
	height: 100%;

	position: absolute;
	z-index: -3;

	overflow: hidden;

	margin: -25px;
}

#color{
	width: 50px;
	height: 50px;

	position: absolute;
	z-index: 1;
	top: 50px;
	left: 48px;

	display: block;
	opacity: .7;
	background: url(../../../imgs/color.png) 50% rgba(25,15,0,1);
	border-radius: 10px;
	background-size: 125%;
}
#color:hover{
	opacity: .9;
}