table{
	display: table;	
	margin: 15px 30px;
}
caption{
	color: rgba(0,20,25,.75);
	font-family: arial, helvetica, tahoma sans-serif;;
	font-size: 170%;
	font-weight: bold;    
    text-shadow: rgba(255,255,255,.7) .8px 1px;

	padding-bottom:3%;
}
th{
	font-size: 75%;
	color: rgba(0,10,15,.75);
	text-shadow: 0.6px 0.5px  rgba(255,255,255,.6);
	vertical-align: bottom;
}
td{
	width: 58px;
	height: 60px;

	border: 1px solid transparent;
}
.horiz,.series th{
	text-align: right;
	vertical-align: middle;
}

a,tfoot td tr td{
	box-shadow: inset 1px 1px rgba(255,255,255,.7), 1px 1px 1px rgba(0,0,0,.8);
	cursor: pointer;
}
a:hover,tfoot td tr td:hover{
	box-shadow: inset 1px 1px 1px rgba(0,0,0,.8), 1px 1px rgba(255,255,255,.7);
}
a:active{
	box-shadow: inset 4px 4px 15px rgba(0,0,0,.65), 1px 1px rgba(255,255,255,.9);

}