figure{
	width: 373.5px;
	height: 305px;

	position: absolute;
    top: 55px;
    left: 270px;

    background: url(../../../imgs/imac.png);
    background-size: 100%;
}
th, .numb p{
	font-size: 10px;
}
th:nth-of-type(n+2){
	vertical-align: bottom;
}
tfoot td{
	height: 35px;
}